$gradient-green: linear-gradient(-90deg, #FFFEB3, #B3FFE4);
$pastel-gray:  #D8D8D8;
$pastel-dark-gray: #3A3A3A;
$pastel-yellow: #F2EDDE;
$pastel-green: #C6D7CF;
$pastel-blue: #DEE8F2;

$main-sans: 'Rubik';
$weight-bold: 700;
$weight-reg: 400;
// -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// $main-serif: ;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
//   font-size: 12;
//   background:  url('../public/spin.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav {
    background-color: none;
    overflow: hidden;
}

// .sticky-top {
//     position:fixed;
//     top:0;
//     width:100%;
//     z-index:100;
// }
// .sticky-bottom-relative {
//     position: relative;
//     bottom:0;
//     // width:100%;
//     z-index:100;
// }


.center {
    // display:flex;
    // justify-content:center;
    // align-items:center;
    margin: 0 auto;
}

section {
    width: 100%;
    // padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: rgb(116, 127, 153);
    // height: 100vh;
    height: auto;
}


section-flex {
    width: 100%;
    // padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    padding-top: 12%;
    padding-bottom: 25%;
    padding-left: 15%;
    padding-right: 15%;
    height: auto;
}
  
section-flex#bio {
    background-color: #D8D8D8;
}

section-flex#scholar {
    background-color: #F2EDDE;
}

section-flex#athlete {
    background-color: #C6D7CF;
}

section-flex#engineer {
    background-color: #DEE8F2;
}
section-flex#gif {
    height: 100vh;
    background:  url('../public/spin.gif') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    background-size: 200%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #DEE8F2;
    height:30%;
}

#table {
    display: table-cell;

}
#top {
    // padding-top: 50%;
    // display: table-cell;
    // vertical-align: top;

  }


#bottom {
    // position: absolute;
    bottom: 0;
    // margin-left: auto;
    // margin-right:auto;
  }

  #z-top {
    z-index:1000;
  }
  .intro {
    height: 100vh;
    background-image: $gradient-green;
    position: relative;
    border: 1em solid $pastel-dark-gray;

    // border-bottom: 1em solid white;
    // border-left: 1em solid white;
    // border-right: 12px solid white00;
  }
  
  .content {
    // display: table-cell;
    // vertical-align: top;
    // z-index: 100;

  }

  .intro bottom-right {
    position: absolute;
    bottom:0;
    right: 0;
    width: 70%;
    z-index: 0;
    overflow:hidden;
  }


  body {
    margin: 0; 
    font-weight: 400;
    font-family: 'Rubik';
  }

  h1 {
    font-size: 3em;
    display: block;
    color: black;
    font-weight: 700;
    font-family:'Rubik';
  }
  
  p {
    font-size: 1.5em;
    font-weight: 400;
    font-family:'Rubik';

    color: #C3CAD9;
  }

  p#black {
    font-size: 1.5em;
    font-weight: 400;
    color: black;
  }
  
  a {
    font-weight: 700;
    text-decoration: none;
    color: #373B44;
    position: relative;
    
    &:hover{ 
      opacity: 0.8;
    }
    
    &:active {
      top: 1px;
    }
  }

  
#app {
    padding: 20px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    height: 65vh;
}
#title {
    font-size: 5em;
}
#select {

}
// h1 {
//   background-color: #ecf0f1;
//   color: #d35400;
//   font-family: sans-serif;
//   font-size: 16px;
//   line-height: 1.7rem;
//   padding: 3rem;
// }

// h2 {
//   text-align: center;
//   margin-top: 5rem;
//   font-size: 6rem;
// }

body {
    font-weight: 400;
    font-family: 'Rubik';;
    cursor: url('../public/cursor.png'), auto;

}

.section-heading {
    font-size: 2rem;
    padding-top: 3em;
    padding-bottom: 1em;
    // color: black;
}
.section {
    width: 100%;
    max-width: 500px;
    font-size: 1.5em;

    
}
.module {
    background-color: azure;
    // position: relative;
    // bottom: 0px;
    width:100%;
    height: 1000px;
}

#container {
    // border: 5px solid rgba(255, 255, 255, 0.329);
    // padding: 10%;
    // background:  rgba(255, 255, 255, 0.329);
}


.LinkHeader {
    font-size: 6em;

    a {   text-decoration: none; 
        color: $pastel-dark-gray;
    }

    /* unvisited link */
    a:link { color: $pastel-dark-gray; }

    /* visited link */
    a:visited { color: $pastel-dark-gray; }

    /* mouse over link */
    a:hover { color: $pastel-gray;

        /* selected link */
        a:active { color: $pastel-gray; }
        // font-size: 1.6em;
        // margin-top: 1em;
        // margin-bottom: 1em; 
        // z-index: 10;
    }


    
    // a:hover, a:active {background: rgba(90, 172, 250, 0.514);}
    
    
}

list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.float{
    position: fixed;
    left: 50%;
    // bottom: 20px;
    transform: translate(-50%, 0);
    margin: 0 auto;

	position:fixed;
	// width:60px;
	// height:60px;
    top:3.5em;

    // margin: 0 auto;

	// right:40px;
	// background-color:#0C9;
	// color:#FFF;
	// border-radius:50px;
	// text-align:center;
    // box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.my-float{
	margin-top:22px;
}

li {
    margin-bottom: 1em;
}

.button.large {
    border-radius: 0em;
    background-color: $pastel-dark-gray;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    // width: 8em;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 1em;
    font-family: $main-sans;
    font-weight: $weight-bold;

  }
  .button.large:hover {
    background-color: white;
    color: black;
    //   background-color: $pastel-blue;
  }

.button {
    border-radius: 0em;
    background-color: $pastel-dark-gray;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    padding: 0.5em;
    // width: 8em;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 1em;
    font-family: $main-sans;
    font-weight: $weight-bold;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1em;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 1em;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  