/* .spanShow:focus ~ .toShowHide {
    display: block;
}

.spanHide:focus ~ .toShowHide {
    display: none;
}

p {
    display:none;
  }
  .span3:focus ~ .alert {
    display: none;
  }
  .span2:focus ~ .alert {
    display: block;
  } */


  .overlay-text {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: none;
  }
  
  .overlay-container:hover .overlay {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
  }

  .overlay-container:hover {
  position:relative;
    z-index: 500;
  }

  .mw8 {
    max-width: 73em;
  }

  .greyscale {
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
  }

  barlow {
    font-family: 'Barlow', sans-serif;
  }

  .main-font {
    font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
  }

  .f3 {
    /* font-family: le-monde-livre-std, sans-serif; */
  }

.nav {
  margin-top: -1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;


}

.under-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 6rem;
}

.home-img{
  background-image:url(/src/public/cutout.png); 
  background-position: bottom right;   
  background-repeat: no-repeat;
  background-size: 25% auto; 
}

@media only screen and (max-width: 820px) {
  .home-img {
    background-position: bottom right;   
    background-size: 25% auto;   
  }
}
@media only screen and (min-width: 820px) {
  .home-img {
    background-position: bottom right;   
    background-size: 25% auto;   

  }
}
@media only screen and (min-height: 800px) {
  .home-img {
    background-position: bottom right;   
    background-size: 25% auto;   

  }
}
@media only screen and (max-height: 800px) {
  .home-img {
    background-size: 20% auto;   
    background-position: bottom right;   

  }
}
/* @media only screen and (max-height: 800px) and (max-width: 820px){
  .home-img {
    height: 100%; 
    background-size: 20% auto;   
    background-position: bottom right;   
    
  }
} */
@media only screen and (max-height: 680px) {
  .nav {
    position: initial;
  }

}

@media only screen and (max-height: 400px) {
  .home-img {
    height:100%;
    background-size: 10% auto;   

  }
}


.sup {
  vertical-align: super;
  font-size: small;
}

.anchor {
  display: block;
position: relative; 
  top: -7rem;
  visibility: hidden;
}