{{ partial "header.html" . }}

<br>
<section id="main" class=" min-vh-100 pt3-ns pt2 ">
  <ul id="list" class="pl0 mt0">
    <!-- prettier-ignore -->
    {{ range .Data.Pages.ByDate.Reverse }}
    <li class="list pl0 lh-copy ">
      <a class="white link hover-gold ks-serif b" href="{{ .Permalink}}">{{ .Title }}</a>
      <span class=" gray db dib-ns ks-sans-serif">{{ .Date.Format "2 Jan 2006" }}</span>
    </li>
    <!-- prettier-ignore -->
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}