<div class="vh-75  home-img">
  <!-- <img src="img/spin.jpg" class="h-100 w-auto    "> -->
</div>

{{ partial "header.html" . }}

<br>

<div class="dt w-70-ns w-100 lh-copy pt3-ns pt2">
  <div class="dtc v-mid white w-50 ks-sans-serif tl f2-ns f4-m f4 ">
    Works on the <a href="http://portal.azure.com" class="white link hover-gold ks-serif" target="_blank">the cloud</a>
    at <a href="https://microsoft.com" class="white link hover-gold ks-serif" target="_blank">Microsoft</a>. Graduated
    <a href="https://hkn.mit.edu" class="white link hover-gold ks-serif" target="_blank">Eta
      Kappa Nu</a> and <a href="http://tbp.mit.edu" class="white link hover-gold ks-serif" target="_blank">Tau
      Beta Pi</a> from <a href="https://web.mit.edu" class="white link hover-gold ks-serif" target="_blank">MIT</a> in
    computer science, with a focus on <a href="http://web.mit.edu/kshum/www/portfolio.html"
      class="white link hover-gold ks-serif" target="_blank">
      human-computer interaction</a>. Former <a href="http://www.isuresults.com/bios/isufs00034586.htm"
      class="white link hover-gold ks-serif" target="_blank">Team USA</a> figure skater.
  </div>
</div>

<br>
<br>

<div class="cf b--gray f2-ns f4-m f4 ">
  <div class="fl w-100 w-30-ns ks-sans-serif gray">
    WORK
  </div>
  <div class="fl w-100 w-70-ns">
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">MIT Media Lab</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">CSAIL
    </a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">ETH Zürich</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">Credit Suisse</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">Priceline.com</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">Microsoft</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">Mitchell Johansson
      Method</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">Ori Systems</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">MIT Admissions</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">Squarespace</a>
    <br>
    <a class="link hover-gold ks-sans-serif gray" href="http://web.mit.edu/kshum/www/portfolio.html"
      target="_blank">MORE</a>&nbsp;
  </div>
</div>

<br>

<div class="cf  b--gray f2-ns f4-m f4 ">
  <div class="fl w-100 w-30-ns ks-sans-serif gray">
    PRESS
  </div>
  <div class="fl w-100 w-70-ns">
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="http://news.mit.edu/2019/kevin-shum-champion-figure-skater-thrives-as-mit-student-0127" target="_blank">
      MIT News
    </a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="https://kevinshum.com/s/kevin-shum-day-31615"
      target="_blank">Kevin Shum Day</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://gettyimages.com/photos/kevin-shum?autocorrect=none&amp;editorialproducts=sport&amp;family=editorial&amp;phrase=kevin%20shum&amp;sort=best#license"
      target="_blank">Getty Images</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://redbluffdailynews.com/2016/01/21/bay-area-teen-takes-junior-silver-at-us-figure-skating-championships/"
      target="_blank">Associated Press</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="https://isuresults.com/bios/isufs00034586"
      target="_blank">International Skating Union</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://scboston.org/membership-information/club-awards/club-award-the-robert-l-black-memorial-award/"
      target="_blank">Skating Club of Boston</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://diablomag.com/January-2017/2018-Winter-Olympics-Hopeful/" target="_blank">Diablo Magazine</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://timesheraldonline.com/article/zz/20150301/NEWS/150309991" target="_blank">Times Herald
      News</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://eastbaytimes.com/2015/02/26/piedmont-skater-competing-in-world-junior-championship/"
      target="_blank">Oakland Tribune</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://mercurynews.com/2015/01/28/piedmontmontclair-around-the-horn-piedmonts-kevin-shum-shines-in-figure-skating/"
      target="_blank">Mercury News</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://thetech.com/2017/02/16/figure-skating-hosts-competition" target="_blank">The Tech</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3"
      href="https://studentlife.mit.edu/news/hobby-landing-spot-us-figure-skating-team" target="_blank">MIT
      Division of Student Life</a>
    <br>
    <a class="white link hover-gold ks-serif mv1 mr3" href="https://youtube.com/watch?v=9dxua41fAgo"
      target="_blank">Squarespace</a>
    <br>
    <a class="link hover-gold ks-sans-serif gray" href="https://en.wikipedia.org/wiki/Kevin_Shum"
      target="_blank">MORE</a>&nbsp;
  </div>
</div>

<br>

<!--     <div id="footer" class="dt w-100 mt5-ns mt4 mb4-l">
  <div class="dtc v-mid">
    <p> © KEVIN SHUM
    </p>
  </div>
  <div class="dtc v-mid tr">
    <a class="ph1 link fw7 white no-underline " href="http://instagram.com/kevinshum" target="_blank"><img src="src/public/instagram.svg"
    class="pt2 w2 grow" alt="" /></a>
  </div>
</div>
-->

{{ partial "footer.html" . }}